---
import AstroIcon from "./Icons/AstroIcon.astro";
import CssIcon from "./Icons/CssIcon.astro";
import HtmlIcon from "./Icons/HtmlIcon.astro";
import JavascriptIcon from "./Icons/JavascriptIcon.astro";
import ReactIcon from "./Icons/ReactIcon.astro";
---

<section class="justify-center flex h-[100vh] p-4 xl:flex xl:h-[100vh] xl:p-0">
  <section class="md:hidden flex-auto xl:flex-[25%] xl:block">
    <div></div>
  </section>

  <article class="flex flex-col h-[100vh] justify-center">
    <h1 class="font-bold text-3xl xl:text-4xl text-[#D8FFDB]"> About Me </h1>

    <div class="flex gap-4 mt-10 xl:flex xl:gap-4 xl:mt-20">
      <div class="xl:flex xl:flex-col xl:gap-4">
        <p class="font-normal md:text-xl xl:text-lg text-slate-400">
          <span class="text-[#C7FFED]">Hello,</span> my name is <span class="text-[#C7FFED]">Keiver Luna</span> and for some time now <br class="hidden xl:block" />
          I have been interested in web programming and I decided <br class="hidden xl:block" />
          to apply in the front-end area at 16 years old, and now <br />
          at 18 years old, where are you now is my personal portafolio <br class="hidden xl:block" />
          where you will find my <span class="text-[#C7FFED]">experiences</span>, knowledge and <span class="xl:text-[#C7FFED]">projects.</span> <br />
        </p>
        <br>
        <p class="font-normal md:text-xl xl:text-lg text-slate-400">
          <span class="text-zinc-300">My focus</span> now is to continue studying and implementing new <br class="hidden xl:block" />
          technologies such as the <span class="xl:text-zinc-300">Astro</span> framework or a more <br class="hidden xl:block" />
          classic <span class="text-zinc-300">React</span>, each one has different uses and different <br class="hidden xl:block" />
          learning processes, which is currently<span class="text-white">.</span>
        </p>

        <section class="hidden xl:flex xl:flex-row xl:gap-4 xl:mt-10">
          <div class="xl:flex xl:gap-2 xl:border xl:border-white xl:rounded-bl-lg xl:p-2 xl:transition xl:duration-300 xl:text-white xl:hover:bg-[#C7FFED] xl:hover:text-black xl:cursor-pointer">
            <HtmlIcon />
            <p>-</p>
            <h1>HTML</h1>
          </div>

          <div class="xl:flex xl:gap-2 xl:border xl:border-white xl:p-2 xl:transition xl:duration-300 xl:text-white xl:hover:bg-[#C7FFED] xl:hover:text-black xl:cursor-pointer">
            <CssIcon />
            <p>-</p>
            <h1>CSS</h1>
          </div>

          <div class="xl:flex xl:gap-2 xl:border xl:border-white xl:p-2 xl:transition xl:duration-300 xl:text-white xl:hover:bg-[#C7FFED] xl:hover:text-black xl:cursor-pointer">
            <JavascriptIcon />
            <p>-</p>
            <h1>JavaScript</h1>
          </div>

          <div class="xl:flex xl:gap-2 xl:border xl:border-white xl:p-2 xl:transition xl:duration-300 xl:text-white xl:hover:bg-[#C7FFED] xl:hover:text-black xl:cursor-pointer">
            <ReactIcon />
            <p>-</p>
            <h1>React</h1>
          </div>

          <div class="xl:flex xl:gap-2 xl:border xl:border-white xl:rounded-br-lg xl:p-2 xl:transition xl:duration-300 xl:text-white xl:hover:bg-[#C7FFED] xl:hover:text-black xl:cursor-pointer">
            <AstroIcon />
            <p>-</p>
            <h1>Astro</h1>
          </div>
        </section>
      </div>
    </div>
  </article>

  <div class="md:hidden flex-auto xl:flex-[25%] xl:block"></div>
</section>