---
import GithubIcon from "./Icons/GithubIcon.astro"
import ReactIcon from "./Icons/ReactIcon.astro"
import TailwindIcon from "./Icons/TailwindIcon.astro"
---

<div class="flex flex-col xl:flex xl:flex-row gap-2">
  <div class="flex flex-row p-4 xl:flex-[5%] xl:flex-col justify-between xl:justify-center text-center items-center xl:p-4 gap-2 border border-zinc-600 xl:rounded-bl-lg">
    <a href="https://github.com/Keiver-Dev/PixelArt-Gallery"><GithubIcon /></a>
    <p>•</p>
    <a href="https://react.dev/"><ReactIcon /></a>
    <p>•</p>
    <a href="https://tailwindcss.com/"><TailwindIcon /></a>
  </div>

  <div  class="xl:flex xl:flex-[90%] xl:justify-center">
    <a href="https://github.com/Keiver-Dev/PixelArt-Gallery">    <img
      class="border border-zinc-600 grayscale hover:grayscale-0 transition duration-300"
      src={`${import.meta.env.BASE_URL}PixelArt.png`}
      alt="pixel art"
    /></a>
  </div>
</div>