---
import MoonIcon from "./Icons/MoonIcon.astro";
--- 

<footer class="flex h-[15vh] bg-zinc-950 "> 
  <section class="flex flex-col xl:flex-row text-center justify-center items-center w-[100%] xl:gap-2">
    <p class="text-base md:text-xl text-zinc-600">Creator, Architect and Designer, by Keiver Luna </p>
    <MoonIcon />
  </section>
</footer>
