---
import Logo from "./Icons/Logo.astro";
---

<div class="text-[#D8FFDB]">
  <header
    id="navbar"
    class="flex justify-between items-center text-center shadow-lg transition-transform duration-300 bg-zinc-900/80 backdrop-blur"
  >
    <!-- Logo -->
    <div class="p-6">
      <Logo />
    </div>

    <!-- Botón hamburguesa (solo en móviles) -->
    <button id="menu-toggle" class="sm:hidden p-6 text-2xl focus:outline-none">
      ☰
    </button>

    <!-- Navegación para pantallas sm en adelante -->
    <nav
      id="menu-desktop"
      class="hidden sm:flex items-center gap-10 font-normal p-4"
    >
    <button id="btn-about" class="hover:text-gray-400 transition duration-300">01.About</button>
    <button id="btn-work" class="hover:text-gray-400 transition duration-300">02.Work</button>
    <button id="btn-contact" class="hover:text-gray-400 transition duration-300">03.Contact</button>
      <a
        href="#"
        class="px-4 py-2 text-[#D8FFDB] border transition duration-300 hover:bg-[#9AEBA3] hover:text-black cursor-pointer"
      >
        Resumen
      </a>
    </nav>
  </header>

  <!-- Menú móvil desplegable -->
  <nav
    id="menu-mobile"
    class="sm:hidden hidden flex-col gap-4 px-6 py-4 font-normal"
  >
    <button class="hover:text-gray-400 transition duration-300">01.About</button>
    <button class="hover:text-gray-400 transition duration-300">02.Work</button>
    <button class="hover:text-gray-400 transition duration-300">03.Contact</button>
    <a
      href="#"
      class="px-4 py-2 text-[#D8FFDB] border transition duration-300 hover:bg-[#9AEBA3] hover:text-black cursor-pointer w-fit"
    >
      Resumen
    </a>
  </nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");
    if (navbar) {
      let lastScroll = window.scrollY;

      window.addEventListener("scroll", () => {
        const currentScroll = window.scrollY;

        if (currentScroll > lastScroll && currentScroll > 100) {
          navbar.style.transform = "translateY(-100%)";
        } else {
          navbar.style.transform = "translateY(0)";
        }

        lastScroll = currentScroll;
      });
    }

  });
</script>