---
import CarrucelProyects from "./CarrucelProyects.astro";
---

<section class="flex h-[100vh]   xl:flex xl:h-[100vh]">
  <section class="xl:flex-[20%]"></section>

  <section class="flex flex-col p-4 pt-24  xl:flex xl:flex-col xl:flex-[55%] xl:pl-28 xl:pt-32">
    <article class="flex flex-col gap-6">
      <div class="flex flex-col gap-1"> 
        <p class="text-normal md:text-lg text-[#DAFDBA]">Main Projects</p>
        <h1 class="font-bold text-2xl md:text-2xl xl:text-2xl">PixelArt Gallery</h1>
      </div>

      <div class="flex xl:bg-zinc-800 xl:p-8 xl:shadow-md">
        <p class="text-zinc-400 md:text-xl xl:text-base">
          Pixel Gallery, a project made with <span class="text-[#DAFDBA]">React 19</span> and 
          <span class="text-[#DAFDBA]"> Tailwind</span>, is a pixel art gallery with the ability 
          to view the image and download it whenever you want.
        </p>
      </div>

      <section class="mt-20 xl:mt-0">
        <CarrucelProyects />
      </section>

      <div></div>
    </article>

    <article class="xl:flex xl:flex-col">
    </article>
  </section>

  <section class="xl:flex-[25%]"></section>
</section>