---
import Header from "../components/SubComponent/Header.astro";
import Start from "../components/SubComponent/Start.astro";
import About from "./SubComponent/About.astro";
import Footer from "./SubComponent/Footer.astro";
import { Carrucel } from "./SubComponent/Carrucel";
import Tecnologias from "./SubComponent/Tecnologias.astro"
---

<article class="flex flex-col h-[15vh] scroll-smooth"> 
    <section class="fixed top-0 left-0 w-full z-50 opacity-0 invisible translate-y-8 transition-all duration-1000">
        <Header />
    </section>
    <article class="flex flex-col h-[400vh] ">
    <section class="h-[90vh] opacity-0 invisible translate-y-8 transition-all duration-1000">
        <Start />
    </section>
    <section class="opacity-0 invisible translate-y-8 transition-all duration-1000">
        <About />
    </section>
    <section class="opacity-0 invisible translate-y-8 transition-all duration-1000">
        <Tecnologias />
    </section>
    <section class="opacity-0 invisible translate-y-8 transition-all duration-1000">
        <Carrucel client:load />
    </section>
    <section>
        <Footer />
    </section>
    </article>
</main>

<script>

    // -- MagicScroll -- //
    function revealOnScroll() {
        const elements = document.querySelectorAll('section');
        elements.forEach(element => {
            const rect = element.getBoundingClientRect();
            if (rect.top < window.innerHeight - 100) {
                element.classList.add('opacity-100', 'translate-y-0', 'visible');
                element.classList.remove('opacity-0', 'translate-y-8', 'invisible');
            }
        });
    }

    window.addEventListener('scroll', revealOnScroll);
    revealOnScroll();
</script>